include ../../mixin/standings-match
.b-standings
	.__btns
		button(type="button" data-standings-btn="0").__btn._active 1/8
		button(type="button" data-standings-btn="1").__btn 1/4
		button(type="button" data-standings-btn="2").__btn 1/2
		button(type="button" data-standings-btn="3").__btn Финал
	.__arrows
		button(type="button" data-standings-arrow="prev").__arrow._prev Назад
		button(type="button" data-standings-arrow="next").__arrow._next Вперед
	.__content
		.__scroll
			.__column
				b.__column-header 1/8
				.__column-content
					.standings-matchs
						.standings-matchs__section
							+standings-match('27-06-2021 22:00', '27.06.2021 22:00', 'Бельгия', 'be.svg', '1', 1, 'Португалия', 'pt.svg', '0', 2, 1)
							+standings-match('26-06-2021 22:00', '26.06.2021 22:00', 'Италия', 'it.svg', '2', 3, 'Австралия', 'at.svg', '1', 4, 1)
						.standings-matchs__section
							+standings-match('28-06-2021 22:00', '28.06.2021 22:00', 'Франция', 'fr.svg', '3', 5, 'Швейцария', 'ch.svg', '3', 6, 2, '4', '5')
							+standings-match('28-06-2021 19:00', '28.06.2021 19:00', 'Хорватия', 'hr.svg', '3', 7, 'Испания', 'es.svg', '5', 8, 2)
						.standings-matchs__section
							+standings-match('29-06-2021 22:00', '29.06.2021 22:00', 'Швеция', 'se.svg', '1', 9, 'Украина', 'ua.svg', '2', 10, 2)
							+standings-match('29-06-2021 19:00', '29.06.2021 19:00', 'Англия', 'eng.svg', '2', 11, 'Германия', 'de.svg', '0', 12, 1)
						.standings-matchs__section
							+standings-match('27-06-2021 19:00', '27.06.2021 19:00', 'Голандия', 'gl.svg', '0', 13, 'Чехия', 'cz.svg', '2', 14, 2)
							+standings-match('26-06-2021 19:00', '26.06.2021 19:00', 'Уэльс', 'wls.svg', '0', 15, 'Дания', 'dk.svg', '4', 16, 2)
			.__column
				b.__column-header 1/4
				.__column-content
					.standings-matchs
						.standings-matchs__section
							+standings-match('02-07-2021 22:00', '02.07.2021 22:00', 'Бельгия', 'be.svg', '1', 1, 'Италия', 'it.svg', '2', 3, 2)
							+standings-match('02-07-2021 19:00', '02.07.2021 19:00', 'Швейцария', 'ch.svg', '1', 6, 'Испания', 'es.svg', '1', 8, 2, '1', '3')
						.standings-matchs__section
							+standings-match('03-07-2021 22:00', '03.07.2021 22:00', 'Украина', 'ua.svg', '0', 10, 'Англия', 'eng.svg', '4', 11, 2)
							+standings-match('03-07-2021 19:00', '03.07.2021 19:00', 'Чехия', 'cz.svg', '1', 14, 'Дания', 'dk.svg', '2', 16, 2)
			.__column
				b.__column-header 1/2
				.__column-content
					.standings-matchs
						.standings-matchs__section
							+standings-match('06-07-2021 22:00', '06.07.2021 22:00', 'Италия', 'it.svg', '1', 3, 'Испания', 'es.svg', '3', 8, 1, '1', '2')
							+standings-match('07-07-2021 22:00', '07.07.2021 22:00', 'Англия', 'eng.svg', '2', 11, 'Дания', 'dk.svg', '1', 16, 1)
			.__column
				b.__column-header Финал
				.__column-content
					.standings-matchs
						.standings-matchs__section
							+standings-match('11-07-2021 22:00', '11.07.2021 22:00', 'Италия', 'it.svg', '1', 3, 'Англия', 'eng.svg', '1', 11, 1, '3', '2')
