.b-standings
	.__btns
		button(type="button").__btn._active 1/8
		button(type="button").__btn 1/4
		button(type="button").__btn 1/2
		button(type="button").__btn Финал
	.__arrows
		button(type="button").__arrow._prev Назад
		button(type="button").__arrow._next Вперед
	.__content
		.__column
			span.__column-header 1/8
		.__column
			span.__column-header 1/4
		.__column
			span.__column-header 1/2
		.__column
			span.__column-header Финал
