.standings {
	position: relative;
	z-index: 1;

	&__btns {
		display: none;
		position: sticky;
		z-index: 2;
		top: 59px;
		background-color: $white;
		width: calc(100% + 28px);
		max-width: 100vw;
		overflow: hidden;
		margin-left: -14px;
		margin-top: -14px;
		padding: 14px;
		box-shadow: $shadow-gray-three;

		@include mq('phone') {
			display: flex;
		}
	}

	&__btn {
		display: block;
		margin-right: 8px;
		padding: 8px;
		width: 80px;
		border-radius: 8px;
		font-size: 16px;
		line-height: 19px;
		font-weight: 600;
		color: $black;
		background-color: $light-background;

		&_active {
			color: $white;
			background-color: $black;
		}
	}

	&__arrows {
		display: block;
		position: absolute;
		z-index: 2;
		left: 0;
		top: -15px;
		width: 100%;
		pointer-events: none;

		@include mq('phone') {
			display: none;
		}
	}

	&__arrow {
		display: none;
		position: absolute;
		top: 0;
		font-size: 0;
		width: 43px;
		height: 43px;
		border-radius: 50%;
		pointer-events: auto;
		overflow: hidden;
		backdrop-filter: blur(4px);

		&:hover {
			&::before {
				background-color: $green-hover;
			}
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $green-primary;
			opacity: 0.38;
		}

		&::after {
			content: '';
			width: 15px;
			height: 18px;
			background-color: $white;
			mask: url('@/img/left-menu-arrow.svg') no-repeat 50% 50%;
			position: absolute;
			left: 50%;
			top: 50%;
		}

		&_prev {
			left: 0;

			&::after {
				transform: translateX(-50%) translateY(-50%) rotate(180deg);
			}
		}

		&_next {
			right: 0;

			&::after {
				transform: translateX(-50%) translateY(-50%);
			}
		}

		&_active {
			display: block;
		}
	}

	&__content {
		overflow: hidden;
		width: calc(100% + 20px);
		max-width: 100vw;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;

		@include mq('phone') {
			background-color: $grey-light-two;
			margin-top: -10px;
			padding-top: 10px;
			width: calc(100% + 14px);
		}
	}

	&__scroll {
		display: grid;
		grid-auto-flow: column;
		gap: 12px;
		width: max-content;
		transition: transform 0.2s;

		@include mq('phone') {
			gap: 0;
		}
	}

	&__column {
		position: relative;
		width: 260px;
		border-radius: 8px;
		background-color: $grey-light-two;
		display: flex;
    flex-direction: column;

		@include mq('phone') {
			width: 280px;
		}

		&:first-child {
			width: 260px;

			& .standings-match {
				padding-left: 0;

				&__btn {
					display: none;
				}
			}
		}

		&:last-child {
			& .standings-matchs{
				&__section {
					&::before {
						content: none;
					}
				}
			}

			& .standings-match {
				&__team {
					&::after {
						width: 100%;
					}
				}
			}
		}

		&_before {
			& .standings-match {
				@include mq('phone') {
					& .standings-match__btn_next {
						display: none;
					}

					& .standings-match__btn_prev {
						display: block;
					}
				}
			}

			&:first-child {
				& .standings-match {
					@include mq('phone') {
						& .standings-match__btn_prev {
							display: none;
						}
					}
				}
			}
		}

		&-header {
			position: relative;
			z-index: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			padding: 7px 0;
			background-color: $black;
			font-size: 16px;
			line-height: 19px;
			font-weight: 600;
			color: $white;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;

			@include mq('phone') {
				display: none;
			}
		}

		&-content {
			padding: 15px;
			font-size: 0;
			height: 100%;
		}
	}
}
