.standings {
	position: relative;
	z-index: 1;

	&__btns {
		display: none;
		margin-bottom: 14px;

		@include mq('phone') {
			display: flex;
		}
	}

	&__btn {
		display: block;
		margin-right: 8px;
		padding: 8px;
		width: 80px;
		border-radius: 8px;
		font-size: 16px;
		line-height: 19px;
		font-weight: 600;
		color: $black;
		background-color: $light-background;

		&_active {
			color: $white;
			background-color: $black;
		}
	}

	&__arrows {
		display: block;
		position: absolute;
		z-index: 2;
		left: 0;
		top: -15px;
		width: 100%;
		pointer-events: none;

		@include mq('phone') {
			display: none;
		}
	}

	&__arrow {
		display: none;
		position: absolute;
		top: 0;
		font-size: 0;
		width: 43px;
		height: 43px;
		border-radius: 50%;
		pointer-events: auto;
		overflow: hidden;
		backdrop-filter: blur(4px);

		&:hover {
			&::before {
				background-color: $green-hover;
			}
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $green-primary;
			opacity: 0.38;
		}

		&::after {
			content: '';
			width: 15px;
			height: 18px;
			background-color: $white;
			mask: url('@/img/left-menu-arrow.svg') no-repeat 50% 50%;
			position: absolute;
			left: 50%;
			top: 50%;
		}

		&_prev {
			left: 0;

			&::after {
				transform: translateX(-50%) translateY(-50%) rotate(180deg);
			}
		}

		&_next {
			right: 0;

			&::after {
				transform: translateX(-50%) translateY(-50%);
			}
		}

		&_active {
			display: block;
		}
	}

	&__content {
		overflow: hidden;
		width: calc(100% + 20px);
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
	}

	&__scroll {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 12px;
		width: max-content;
		transition: transform 0.2s;

		@include mq('phone') {
			background-color: $grey-light-two;
		}

		&_step-1 {
			& .standings__column {
				&:nth-child(2) {
					& .standings-match {
						padding-top: 0;
						padding-bottom: 0;
					}
				}

				&:nth-child(3) {
					& .standings-match {
						padding-top: 5px;
						padding-bottom: 5px;
					}
				}

				&:last-child {
					& .standings-match {
						padding-top: 46px;
						padding-bottom: 46px;
					}
				}

				& .standings__column-content {
					height: 350px;
				}
			}
		}

		&_step-2 {
			& .standings__column {
				&:nth-child(3) {
					& .standings-match {
						padding-top: 0;
						padding-bottom: 0;
					}
				}

				&:last-child {
					& .standings-match {
						padding-top: 5px;
						padding-bottom: 5px;
					}
				}

				& .standings__column-content {
					height: 185px;
				}
			}
		}

		&_step-3 {
			& .standings__column {
				&:last-child {
					& .standings-match {
						padding-top: 0;
						padding-bottom: 0;
					}
				}

				& .standings__column-content {
					height: 102px;
				}
			}
		}
	}

	&__column {
		position: relative;
		width: 255px;
		border-radius: 8px;
		background-color: $grey-light-two;
		display: flex;
    flex-direction: column;

		&:first-child {
			& .standings-match {
				&::before {
					content: none;
				}

				&::after {
					content: none;
				}
			}

			& .standings-match__btn {
				display: none;
			}
		}

		&:nth-child(2) {
			& .standings-match {
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}

		&:nth-child(3) {
			& .standings-match {
				padding-top: 46px;
				padding-bottom: 46px;
			}
		}

		&:last-child {
			& .standings-match {
				padding-top: 128px;
				padding-bottom: 128px;

				& .standings-match__team {
					&::after {
						width: 100%;
					}
				}
			}
		}

		&-header {
			position: relative;
			z-index: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			padding: 7px 0;
			background-color: $black;
			font-size: 16px;
			line-height: 19px;
			font-weight: 600;
			color: $white;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;

			@include mq('phone') {
				display: none;
			}
		}

		&-content {
			padding: 14px;
			font-size: 0;
			height: 675px;
			display: grid;
			grid-auto-flow: row;
			gap: 10px;
			align-content: space-around;
			transition: height 0.2s ease 0.1s;
		}
	}
}
